.btn {
  background-color: transparent;
  padding: 0.5rem 2rem;
  color: #000;
  border: 3px solid black;
  cursor: pointer;
  margin: 0.5rem 0.2rem;
}

.btn:hover {
  background-color: teal;
  opacity: 0.8;
}

.btn[type='warning'] {
  background-color: rgba(236, 65, 23, 0.5);
}
.btn[type='success'] {
  background-color: rgba(35, 233, 17, 0.5);
}
