.post {
  margin: 1rem auto;
  max-width: 1200px;
  border: 2px solid tan;
  padding: 0.5rem 1rem 1rem;
}
.title {
  text-transform: uppercase;
  font-size: 0.8rem;
}

.title > h3 {
  margin: 0.5rem auto;
}
